.dialog-container {
    -fx-background-color: transparent;
}

.dialog-label {
    -fx-background-radius: 20;
    -fx-font-size: 14px;
    -fx-font-family: "System";
    -fx-min-width: 100px;
    -fx-min-height: 50px;
    -fx-max-width: 300px;
    -fx-alignment: center-left;
}

.user-dialog {
    -fx-background-color: #DCF8C6;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 1, 1);
}

.duke-dialog {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 3, 0, 1, 1);
}

.dialog-box {
    -fx-alignment: center-left;
    -fx-spacing: 10;
    -fx-min-width: 100;
    -fx-pref-width: -1;
    -fx-background-color: transparent;
}

HBox {
    -fx-min-height: 70px;
    -fx-background-color: transparent;
}

ImageView {
    -fx-background-radius: 25;
}