@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

#dialog {
    -fx-background-color: #333;
    -fx-border-radius: 10px;
    -fx-padding: 10px 15px;
    -fx-font-size: 14px;
    -fx-text-fill: #FFEB3B;
    -fx-max-width: 300px;
    -fx-wrap-text: true;
    -fx-background-radius: 15px;
    -fx-font-family: "Darumadrop One", serif;
}

#displayPicture {
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-border-color: #ddd;
    -fx-border-width: 2px;
}

#dialog:hover {
    -fx-background-color: #e0e0e0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0, 0, 0);
}


.hbox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}
