.root {
    main-color: rgb(237, 255, 242);
    -fx-background-color: main-color;
    -fx-background-image: url("../images/office.jpg");
    -fx-background-size: cover;
    -fx-background-repeat: round;
}

.text-field {
    -fx-background-color: #f3f2ed;
    -fx-font: 20px "Arial";
}

.button {
    -fx-background-color: #bfbc9a;
    -fx-font: italic bold 16px "Arial";
}

.button:hover {
    -fx-background-color:#e3dccf;
    -fx-font-size: 18px;
}


/*.scroll-pane,*/
/*.scroll-pane .viewport {*/
/*    -fx-background-color: transparent;*/
/*}*/

.scroll-pane {
    -fx-background-color: rgba(255,255,255,.5);
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: main-color;
}

.scroll-bar .thumb {
    -fx-background-color: #8f7c58;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}