.root {
    main-color: rgb(237, 255, 242);       /* Create a looked-up color called "main-color" within root. */
    -fx-sangria: #5e1916;
    -fx-background-color: sangria;
    -fx-background-image: url("../images/bg.jpg");
    -fx-background-size: 400px 600px;
    -fx-background-repeat: round;
}

.text-field {
    -fx-background-color: #800020;
    -fx-font: 20px "Georgia";
    -fx-text-fill: #ffffff;
}

.button {
    -fx-background-color: #fc6c85;
    -fx-font: italic bold 16px "Georgia";
    -fx-text-fill: #ffffff;
}

.button:hover {
    -fx-background-color: #fc8eac;
    -fx-font-size: 18px;
    -fx-text-fill: #ffffff;
}

.button:pressed {
    -fx-background-color: #e75480;
    -fx-font-size: 20px;
    -fx-text-fill: #ffffff;
}

.scroll-pane,
.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-font-size: 10px;  /* Change width of scroll bar. */
    -fx-background-color: sangria;
}

.scroll-bar .thumb {
    -fx-background-color: #000000;
    -fx-background-radius: 1em;
}

/* Hides the increment and decrement buttons. */
.scroll-bar .increment-button,
.scroll-bar .decrement-button {
    -fx-pref-height: 0;
    -fx-opacity: 0;
}

