.image-view {
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.3) , 5, 0, 2, 2 );
}

/* Style for the dialog box */
.dialog-box {
    -fx-background-color: #E3F2FD;
    -fx-background-radius: 0px;
    -fx-padding: 10px;
}

/* Style chat bubbles */
.chat-label {
    -fx-background-color: #81D4FA;
        -fx-background-radius: 15px;
        -fx-padding: 10px;
        -fx-padding-left: 100px;
        -fx-wrap-text: true;
}

/* Style for user messages. */
.user-dialog {
    -fx-background-color: #1E3A8A;
    -fx-padding: 10px;
    -fx-text-fill: white;
    -fx-font-family: "Constantia";
    -fx-background-radius: 1em 1em 0 1em;
    -fx-border-radius: 1em 1em 0 1em;
}

/* Style for bot messages */
.bot-dialog {
    -fx-background-color: #ADD8E6;
    -fx-padding: 10px;
    -fx-font-family: "Consolas";
    -fx-background-radius: 0 1em 1em 1em;
    -fx-border-radius: 0 1em 1em 1em;
}

/* Style for input field */
.text-field {
    -fx-background-color: #d1e7ea;
    -fx-border-color: white;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

/* Style for send button */
.button {
    -fx-background-color: #68889b;
    -fx-text-fill: white;
    -fx-border-radius: 5px;
    -fx-padding: 5px 10px;
}

.button:hover {
    -fx-background-color: #4d6b7c;
}

.background-pane {
    -fx-background-color: #E3F2FD;
}
