# IDEA files
/.idea/
/out/
/*.iml
/data

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-wind.ui-test/ACTUAL.TXT
text-wind.ui-test/EXPECTED-UNIX.TXT
