# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
/text-ui-test/ACTUAL_BLANK.TXT
/text-ui-test/ACTUAL_ERRONEOUS.TXT
/text-ui-test/EXPECTED-UNIX.TXT
/text-ui-test/EXPECTED_BLANK-UNIX.TXT
/text-ui-test/EXPECTED_ERRONEOUS-UNIX.TXT

**/data/*
