# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Test folder and data
text-ui-test/
/data/

# Executable
/src/main/java/mirai/tasks/*.class
/src/main/java/mirai/ui/Mirai.class
/src/main/java/mirai/utility/*.class
