.error-label {
    -fx-text-fill: #ff3333;
    -fx-font-weight: bold;
    -fx-background-color: #ffeeee;
    -fx-padding: 8;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.user-label {
    -fx-background-color: #cce5ff;
    -fx-border-color: #99caff;
    -fx-border-width: 1;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 8;
}

.robert-label {
    -fx-background-color: #E8E8E8;
    -fx-text-fill: #2B2B2B;
    -fx-font-family: "Georgia";
    -fx-border-color: #B2B2B2;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 10 12 10 12;
}
