.root {
    -fx-background-image: url("/images/background.gif");
    -fx-background-size: cover;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}
